
:root{
    --color1:  #9bbcda;
    --color2:  #4f6e86;
    --colorWhite: white;
}

body{
    font-family: 'Montserrat';
}
.disparition{
    display: none!important;
}
/* Navbar && Sidebar */
.navbar{
    background-color: var(--color1);
    height: 3.3em;
    padding: 0;
    }
#navbarSupportedContent{
    height: 100vh;
    background-color: var(--color1);
}
.side-inner .container-fluid .row span{
    border-bottom: 3px solid var(--colorWhite);
    margin-bottom: 2%;
}
.side-inner , nav{
    color: var(--colorWhite);
}
.side-inner a, nav .navbar-collapse a{
    padding: 10px 0 10px 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--colorWhite);
}
.side-inner a:hover, nav .navbar-collapse a:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.39);
}

/* LandingPage */

h2{
    text-transform: uppercase;
}
h3{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 2em;
}
h4{
    font-size: 1.5em;
    margin-bottom: 1em;
    font-style: italic;
}
#logoLandingPage{
    margin-top: 10vh;
    max-width: 60vw;
    max-height: 60vh;
    margin-bottom: auto;
}
#landingPage1{
    background: cadetblue;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
}
.sectionTitle{
    margin-top: 5vh;
    align-items: center;
}
.smallHr{
    border-bottom: 3px solid var(--color1);
    margin-bottom: 2%;
    max-width: 10em;
    margin: 0.5em auto 0.5em auto;
}
#landingPage2{
    min-height: 100vh;
    text-align: center;
}
#imgTest1{
    height: 60vh;
    width: 30vw;
    background-color: teal;
    position: relative;
    left: -5vw;
    top: 5vh;
    margin-bottom: 10vh;
}

#whoWeAreContainer{
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border: var(--color1) 2vh solid;
}
#whoWeAreText{
    border: tomato 1px solid;
    margin: 5vh auto 5vh auto;
}



.reserveButton{
    background-color: var(--color1);
    border: 2px solid var(--color2);
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-radius: 7px;
    text-transform: uppercase;
    color: var(--colorWhite);
    position: fixed;
    bottom: 15vh;
    margin: auto;
    z-index: 1000;
}
.reserveButton:hover{
    color: var(--colorWhite);
    background-color: var(--color2);
    border: 2px solid var(--color1);
    text-decoration: none;
}
