:root {
    --color1        : #9bbcda;
    --color1opacity8: rgb(155, 188, 218, 0.8);
    --color1opacity2: rgb(155, 188, 218, 0.2);
    --color2        : #4f6e86;
    --colorWhite    : white;
}

body {
    font-family: 'Montserrat';
}

.disparition {
    display: none !important;
}
.fadeIn {
    visibility: visible !important;
    transition: 0.5s;
    opacity: 1;
}
.fadeOut {
    visibility: hidden !important;
    transition: 0.2s;
    opacity: 0;
}

/* Navbar && Sidebar */
.navbar {
    background-color: var(--color1);
    height          : 3.3em;
    padding         : 0;
}

#navbarSupportedContent {
    background-color: var(--color1);
}

.side-inner .container-fluid .row span,
nav #navbarSupportedContent .container-fluid .row span {
    border-bottom: 3px solid var(--colorWhite);
    margin-bottom: 2%;
}

.side-inner,
nav {
    color: var(--colorWhite);
}

.side-inner a,
nav .navbar-collapse a {
    padding        : 10px 0 10px 0;
    font-size      : 1.5rem;
    text-decoration: none;
    color          : var(--colorWhite);
}

.side-inner a:hover,
nav .navbar-collapse a:hover {
    text-decoration : none;
    background-color: rgba(255, 255, 255, 0.39);
}

#logoNavBar {
    height: 2em;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
}
/* LandingPage */
h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    font-size     : 1.5em;
    margin-bottom : 2em;
}

h4 {
    font-size    : 1.5em;
    margin-bottom: 1em;
    font-style   : italic;
}

.smallHr {
    border-bottom: 3px solid var(--color1);
    margin-bottom: 2%;
    max-width    : 10em;
    margin       : 0.5em auto 0.5em auto;
}
.photoResize {
    height: 100%;
}

#logoLandingPage {
    margin-top   : 10vh;
    max-width    : 60vw;
    max-height   : 60vh;
    margin-bottom: auto;
}

#landingPage1 {
    background             : no-repeat center url(../img/who-we-are/hall02.jpg);
    min-height             : 100vh;
    display                : flex;
    justify-content        : center;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
}

#landingPage2,
#landingPage3,
#landingPage4 {
    min-height: 100vh;
}

#landingPage3 {
    background: var(--color1opacity2);
}

.sectionTitle {
    padding-top: 7.3em;
    align-items: center;
    text-align : center;
}

#whoWeAreContainer {
    max-width   : 70vw;
    margin-left : auto;
    margin-right: auto;
    border      : var(--color1) 2vh solid;
}

#whoWeAreText {
    margin: 5vh auto 5vh auto;
}

#imgTest1 {
    max-height      : 35em;
    width           : auto;
    background-color: teal;
    position        : relative;
    left            : -5vw;
    top             : 5vh;
    margin-bottom   : 10vh;
}

#journey,
#experience {
    margin-left : auto;
    margin-right: auto;
}
#journey{
    max-width   : 90vw;
}
#experience{
    max-width   : 75vw;
}

/* FIXME: */
/* .imgHover{
    background-color: grey;
    position: relative;
    opacity: 0.7;
    height: 100%;
    visibility: hidden;
} */
.imgOn {
    filter    : sepia(60%);
    transition: 1s;
}

.imgOut {
    filter    : sepia(0%);
    transition: 1s;
}

#imgTest1,
#imgRoom1,
#imgRoom2,
#imgRoom3,
#imgExperience1,
#imgExperience2 {
    overflow: hidden;
    padding : 0px;
    border  : 2px solid var(--color1);
}

#imgRoom1 {
    max-height      : 35em;
    background-color: teal;
    position        : relative;
}

#imgRoom2 {
    max-height          : 20em;
    background-color: paleturquoise;
    margin-top      : 12em;
    border-right    : none;

}

#imgRoom3 {
    max-height          : 20em;
    background-color: palegreen;
    margin-top      : 2em;
    border-left     : none;
}

#imgExperience1 {
    max-height          : 25em;
    background-color: teal;
}

#imgExperience2 {
    max-height          : 25em;
    background-color: teal;
}

.imgLegend{
    position  : absolute;
    transform : translateX(-50%) translateY(-50%);
    top       : 50%;
    left      : 50%;
    text-transform: uppercase;
    color: var(--colorWhite);
    font-size: 1.5em;
    text-align: center;
    width: 90%;
}

/* Buttons */

.linkButton {
    background-color: var(--color1);
    border          : 2px solid var(--color2);
    padding         : 0.5em 0.8em 0.5em 0.8em;
    border-radius   : 7px;
    text-transform  : uppercase;
    color           : var(--colorWhite);
    z-index         : 1000;
}

.linkButton:hover {
    color           : var(--colorWhite);
    background-color: var(--color2);
    border          : 2px solid var(--color1);
    text-decoration : none;
}

#reserveButton {
    position: fixed;
    bottom  : 15vh;
    margin  : auto;
}

.journeyButton, .experienceButton {
    position  : absolute;
    transform : translateX(-50%) translateY(-50%);
    top       : 65%;
    left      : 50%;
    background: var(--color1opacity2);
}

/* Footer */

footer a {
    font-size      : 1rem;
    text-decoration: none;
    color          : var(--colorWhite);
    text-align     : center;
    padding        : .5rem;
}

footer a:hover {
    text-decoration : none;
    background-color: rgba(255, 255, 255, 0.39);
}

footer {
    padding         : 1rem;
    background-color: var(--color1);
}

.borderLeft {
    border-left: solid var(--colorWhite);
}