@media (max-width: 992px) {

    #imgTest1 {
        position: static;
    }

    #whoWeAreContainer {
        max-width: 95vw;
        border   : none;
    }

    #whoWeAreText {
        text-align: center;
        margin    : 1vh auto 1vh auto;
    }

    #imgRoom2,
    #imgRoom3 {
        display: none;
    }

    #journey,
    #experience {
        max-width: 95vw;
    }

    #imgExperience1, #imgExperience2{
        margin-bottom: 4vh;
    }
    .experienceButton{
        top: 70%;
    }
}