@media (max-width: 1200px){
    .mb-4vh {
        margin-bottom: 4vh;
    }
    #imgTest1 {
        position: static!important;
        margin-bottom   : 5vh;
    }
    #whoWeAreContainer {
        max-width: 95vw;
        border   : none;
    }
    #whoWeAreText {
        text-align: center;
        margin    : 0 auto 1vh auto;
    }
    
}